name: Android CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v6
    - name: set up JDK 17
      uses: actions/setup-java@v5
      with:
        java-version: 17
        distribution: microsoft
    - name: Build with Gradle
      run: ./gradlew build
